.jumbotron {
    background-image: url(https://www.syfy.com/sites/syfy/files/styles/1200x680/public/2019/07/the-dark-crystal-via-netflix-2019.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
    font-family: Luminari, fantasy;
   }
